<!DOCTYPE html>
<html lang="en">
<style>
    p {
        margin: 0;
    }
</style>
<body>
    <main>
        <div>
            <p><b>Test stdout</b></p>
            <p><%= testStdout %></p><br>
            <p><b>Test stderr</b></p>
            <p><%= testStderr %></p><br>
            <p><b>Codestyle stdout</b></p>
            <p><%= codestyleStdout %></p><br>
            <p><b>Codestyle stderr</b></p>
            <p><%= codestyleStderr %></p><br>
            <p><b>File tests result</b></p>
            <p><%= fileTestsResult%></p><br>
        </div>
    </main>
</body>
</html>